<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="csrf-token" content="VjVPPqW8I9q55lTbzDTEgOybEPIlxqdG5A9CyEpw">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Yurtlar Burada | Panel</title>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but yurtlar-burada doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
