ul.menus {
	padding-left: 15px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.m-b {
    margin-bottom: 15px;
}
.btn-circle {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	border: none;
	font-size: 19px;
	outline: none;
}
.form-options {
    display: inline-block;
}

.custom-input {
    height: 50px;
    box-shadow: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d0d3e0;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.custom-input:focus {
    border-color: #337ab7;
    outline: 0;
    box-shadow: none;
}

.btn-edit {
    /*color: #fff;*/
    /*background-color: #66CC99;*/
    /*border: 1px solid #66CC99;*/
    /*outline: none;*/
    color: #fff;
    border: 1px solid #ec689e;
    outline: none;
    background-color: #ec689e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
}

.btn-edit:hover {
    color: #fff;
    background-color: #464e65;
    border-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
    outline: none;
}
.createButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999999999999999999;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.95em;
  padding-top: .5em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 2.25em; height: 2.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0.5em;
  left: 0.4em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

/*****************************************
  upload button styles
******************************************/
.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
}
.file-upload__label:hover{
 cursor: pointer;
 background: #000;
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
label small {
  font-weight: normal;
  color: #e08888;
}
.relative {
  position: relative;
}
.pw-btn
{
  position: absolute;
  top: 0;
  right: 0;
  top: 35px;
  right: 20px;
}
.message-items {
  background: #fff;
  padding: 10px;
}
/* If the map DIV doesn't have a size set up, it won't appear on the page */
.gllpMap  { width: 100%; height: 250px; }

.tabs-component-tabs {
  padding: 0;
  margin: 0;
  & .tabs-component-tab {
    list-style: none;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 6px;
    &:hover {
      transition: .5s;
      background-color: #fff;
    }
    & .tabs-component-tab-a {
      display: flex;
      width: 120px;
      height: 50px;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: bold;
    }
    &.is-active{
      & .tabs-component-tab-a {
        transition: .3s;
        background-color: #fff;
        border-radius: 6px;
      }
    }
  }
  & .tabs-component-tab:nth-child(1) {
    margin-left: 0;
  }
}
.tabs-component-panels {
  clear: both;
}
.is-current {
    background-color: #23527c !important;
    color: #fff !important;
    border-color: #23527c !important;
}
.text.default {
  top: 8px !important;
  color: #666 !important;
}
