<template>
    <div>
        <footer>
            <div class="container">
                <p>© 2018 Pixelate Creative <i class="fa fa-heart"></i></p>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>